<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901234754732-402e4kikivq46ebi506r93b2ut2078i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901234754732-402e4kikivq46ebi506r93b2ut2078i1</string>
	<key>API_KEY</key>
	<string>AIzaSyAW5lKaeqR8Bj4r01_DQ5HRQfiuQixgvbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>901234754732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.showmydealsapp</string>
	<key>PROJECT_ID</key>
	<string>showmydeals-166be</string>
	<key>STORAGE_BUCKET</key>
	<string>showmydeals-166be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901234754732:ios:4914b6d3cb7ccdddfd0b09</string>
</dict>
</plist>